/* Error: expected "{".
 *     ,
 * 362 |     background: blue;
 *     |                     ^
 *     '
 *   scss/style.scss 362:21  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 362 \2502      background: blue;\a     \2502                      ^\a     \2575 \a   scss/style.scss 362:21  root stylesheet';
}
