/*<!-- VARIABLES -->*/
$love: #F04E25;
$pink: #eea5a7;
$cuatro: 400px;
$grisi: #999999;
$ci: 100px;
$dos: 200px;
$cua: 400px;
$cin: 500px;
$sie: 700px;
$oc: 800px;
$cu: 50px;
$pq: 15px;
$ta: 40px;
$tc: 350px;
$v: 20px;
$pj: 100%;